<!DOCTYPE html>
<html>

<head>
    <title>
        Image repository
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="content">
        <h1>
            Image repository
        </h1>
        <p>Welcome to my image repository!
        </p>

        <form action="/auth">
            <input type="submit" value="Login">
        </form>
    </div>
</body>

</html>